* {
  font-family: "SUIT", sans-serif;
  font-weight: 500;
  line-height: 160%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #edeaeb;
  overflow-x: hidden;
}

/* 헤더 */
header {
  height: 100px;
  backdrop-filter: saturate(180%) blur(70px);
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #42abae;
}

.titleLogo {
  margin-left: 100px;
}

.search {
  display: flex;
  margin-right: 80px;
  align-items: center;
}

#search-input {
  background-color: transparent;
  border: none;
  width: 140px;
  height: 70px;
  background-image: url("data:image/svg+xml,%3Csvg width='150' height='67' viewBox='0 0 186 67' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M175.161 9.8272C169.062 9.8272 162.594 11.8874 156.162 11.8874C147.539 11.8874 139.019 11.1315 130.409 10.6284C115.962 9.78406 101.373 10.564 86.9736 9.25492C72.6833 7.95581 58.395 6.81711 44.11 5.47789C38.4335 4.94572 33.1077 3.64661 27.4567 3.64661C21.947 3.64661 17.0015 4.93883 11.4902 5.7068C10.39 5.86011 4.24992 5.72972 4.16503 7.767C3.87597 14.7045 4.16503 21.7119 4.16503 28.6551C4.16503 34.6876 1.6158 49.7209 6.68305 54.0642C10.7189 57.5236 20.8328 56.6136 25.7971 56.9829C42.4841 58.224 59.3176 58.8756 75.9286 60.8171C99.7755 63.6044 123.959 62.1464 147.921 62.3623C154.387 62.4205 160.795 63.3257 167.264 63.3924C169.024 63.4105 174.107 64.3327 175.619 62.8201C178.123 60.3168 178.591 47.2401 179.053 43.5916C179.977 36.2957 180.815 28.9261 181.399 21.6161C181.694 17.9362 183.496 11.9343 179.282 9.8272' stroke='%23fbbc14' stroke-width='6' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  padding-left: 10px;
}

#search-input:focus {
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
  cursor: pointer;
}

/* 영화 카드들 부분 */
.categoryTitle {
  font-size: 2vh;
  margin: 20px 0 -40px 105px;
}

.movieBody {
  width: auto;
  margin-top: 150px;
}

.Container {
  margin: 0;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  padding-left: 90px;
}

.Container::-webkit-scrollbar {
  display: none;
}

.moviePoster {
  margin: 10px;
  float: left;
  position: relative;
  height: 380px;
  width: auto;
  border-radius: 10px;
  transition: 300ms;
  cursor: pointer;
}

.moviePoster:hover {
  transform: scale(1.2);
  z-index: 999;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
}

/* top 버튼 */
#top-btn {
  float: right;
  z-index: 999;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: black;
  border: 1px solid white;
  color: white;
  line-height: 120%;
}
