* {
  font-family: "SUIT", sans-serif;
  font-weight: 500;
  line-height: 160%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #edeaeb;
  overflow-x: hidden;
}

/* 헤더 */
header {
  height: 100px;
  backdrop-filter: saturate(180%) blur(70px);
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleLogo {
  margin-left: 30px;
  font-weight: 900;
  font-size: 3vh;
}

.search {
  display: inline-block;
  margin-right: 30px;
}

#search-input {
  width: 150px;
}

/* 개봉 예정작 */

.categoryTitle {
  font-size: 2vh;
  margin: 0 0 0 85px;
}

.upcommingBody {
  width: auto;
  margin-top: 150px;
}

.upcommingCntainer {
  margin-bottom: 50px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  padding-left: 70px;
}

.upcommingCntainer::-webkit-scrollbar {
  display: none;
}

.soon-movie-card {
  cursor: pointer;
  display: block;
  position: relative;
}

.soon-img {
  margin: 10px;
  float: left;
  position: relative;
  height: 380px;
  width: auto;
  border-radius: 10px;
  transition: 300ms;
}

.soon-img:hover {
  transform: scale(1.2);
  z-index: 999;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
}

/* top 버튼 */
#top-btn {
  float: right;
  z-index: 999;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: black;
  border: 1px solid white;
  color: white;
  line-height: 120%;
}

/* 이미지 캐러셀*/
#banner {
  width: auto;
  overflow: hidden;
  margin: 0 auto 80px;
  position: relative;
  /* min-width: 1240px;
    max-width: 3840px; */
  /* min-height: 400px; */
  /* background-color: aquamarine; */
  height: 600px;
}

/* 페이지네이션 */
.main01-nav {
  display: table;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  /* background-color: blue; */
  z-index: 999;
}

/* .main01-nav button[class^="btn"] {
    display: table-cell;
    width: 34px;
    height: 34px;
    vertical-align: middle;
} */

.banner > .swiper-pagination {
  display: table-cell;
  position: static;
  width: auto;
  font-size: 0;
  vertical-align: middle;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: opacity 0.3s;
  transform: translateZ(0);
  z-index: 10;
}

.swiper-pagination > span {
  width: 10px;
  height: 10px;
  background-color: hsla(0, 0%, 100%, 0.3);
  opacity: 1;
}

/* .swiper-pagination-bullet {
    background: #e8e8e8;
} */

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: #606060;
  opacity: 1;
  cursor: pointer;
  margin: 0 4px;
}

.swiper-pagination-bullet:hover {
  background: #fff;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  z-index: 50;
  cursor: pointer;
  background-position: 50%;
  background-repeat: no-repeat;
}

.swiper-button-next {
  right: 0;
  /* background: url(../images/arrow_forward_ios.png); */
}

.swiper-slide {
  transform: translateX(0);
}

.swiper-wrapper-banner {
  transform: translateX(190px);
  /* transform: translateX(0); */
}

.swiper-slide {
  display: center;
  align-items: center;
  justify-content: center;
}
.swiper-slide > img {
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.swiper-wrapper-banner {
  /* position: relative; */
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transition: 0.3s ease-in-out;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transition: transform 0.3s ease;
}

.swiper-slide {
  float: left;
  position: relative;
  overflow: hidden;
  width: 1240px;
  height: 508px;
  margin: 0 10px;
  border-radius: 12px;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
